%section
  %header
    %h1
      Edit this tale

  - form_for @tale, url(:tales, :update, :slug => @tale.slug), :method => :put do |f|
    = render_partial :"tales/form", :locals => {:f => f}
    %button{:type=>"submit"} Save