%section
  %h1
    Tales you can play

  - Tale.all.each do |tale|
    %h2
      = link_to tale.title, url_for(:tales, :show, :slug => tale.slug)
      in
      = tale.where

%section
  %h1
    For artists

  %p
    Create a location-based story that you can invite people to experience. Include text, audio, video, locations, clues in a linear narrative that takes your audience through a series of locations with a narrative that you control.

  %h2
    = link_to "Create a tale", url_for(:tales, :new), :class => "btn"