#overview
  .column
    .icon
    %h2 1. Go to a location
  .column
    .icon 
    %h2 2. Open the app
  .column
    .icon 
    %h2 3. Play a tale

%section#tales_you_can_play

  %h1
    Tales you can play

  - Tale.all.each do |tale|
    %h2
      = link_to tale.title, url_for(:tales, :show, :slug => tale.slug)
      in
      = tale.where

%section#for_artists
  %h1
    For artists

  %p
    Create a location-based story that you can invite people to experience. Include text, audio, video, locations, clues in a linear narrative that takes your audience through a series of locations with a narrative that you control. 

  %h2
    - if current_account
      = link_to "Create a tale", url_for(:tales, :new), :class => "btn"
    - else
      %a.btn{:href=>"/auth/twitter"}
        %i.icon-twitter-sign
        %span
          Sign in with Twitter to create a tale