/* line 17, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 61, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 112.5%;
}

/* line 64, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 18px;
  line-height: 1.333em;
}

/* line 35, ../../app/stylesheets/application.scss */
body {
  background-color: #eaf0f1;
  color: #2a3233;
}
/* line 37, ../../app/stylesheets/application.scss */
body a {
  color: #4aaa3a;
}
/* line 18, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:visited {
  color: #85d179;
}
/* line 21, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:focus {
  color: #97d88c;
}
/* line 24, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:hover {
  color: #63c453;
}
/* line 27, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:active {
  color: #74cb66;
}
/* line 40, ../../app/stylesheets/application.scss */
body h1 a {
  text-decoration: none;
}

/* line 46, ../../app/stylesheets/application.scss */
.page {
  font-family: "rooney-web", serif;
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 38, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}
/* line 50, ../../app/stylesheets/application.scss */
.page header {
  clear: both;
}
/* line 54, ../../app/stylesheets/application.scss */
.page footer {
  clear: both;
  text-align: center;
  float: none;
  width: auto;
  margin-right: auto;
  #margin-left: auto;
  display: block;
  margin-top: 1.333em;
  margin-bottom: 1.333em;
}
/* line 61, ../../app/stylesheets/application.scss */
.page .twitter-follow-button {
  position: relative;
  top: 6px;
}
@media (min-width: 67.5em) {
  /* line 67, ../../app/stylesheets/application.scss */
  .page .content {
    padding-left: 8.475%;
    width: 83.051%;
    float: left;
    margin-right: 1.695%;
    display: inline;
  }
}

/* line 74, ../../app/stylesheets/application.scss */
h1 {
  font-size: 2em;
  line-height: 1.333em;
  font-family: "rooney-web", sans-serif;
  font-weight: 100;
}
@media (min-width: 67.5em) {
  /* line 74, ../../app/stylesheets/application.scss */
  h1 {
    font-size: 2em;
    line-height: 1.333em;
  }
}

/* line 84, ../../app/stylesheets/application.scss */
header#header {
  padding-top: 1.333em;
}
/* line 86, ../../app/stylesheets/application.scss */
header#header h1#logo {
  text-align: center;
  font-family: "rooney-web", sans-serif;
  font-weight: light;
}
/* line 92, ../../app/stylesheets/application.scss */
header#header h2 {
  font-family: "rooney-web", sans-serif;
  font-weight: 200;
  font-size: 0.5em;
  line-height: 2.667em;
  text-weight: light;
  font-style: italic;
  text-align: center;
  color: #70999f;
}
@media (min-width: 67.5em) {
  /* line 92, ../../app/stylesheets/application.scss */
  header#header h2 {
    font-size: 1em;
    line-height: 2.667em;
  }
}
/* line 106, ../../app/stylesheets/application.scss */
header#header.large {
  margin-top: 1.333em;
}
/* line 108, ../../app/stylesheets/application.scss */
header#header.large h1#logo {
  font-size: 3em;
  line-height: 1.333em;
}
@media (min-width: 67.5em) {
  /* line 108, ../../app/stylesheets/application.scss */
  header#header.large h1#logo {
    font-size: 4em;
    line-height: 0.667em;
  }
}
/* line 114, ../../app/stylesheets/application.scss */
header#header.large h2 {
  font-size: 1em;
  line-height: 1.333em;
}
@media (min-width: 67.5em) {
  /* line 114, ../../app/stylesheets/application.scss */
  header#header.large h2 {
    font-size: 1.33em;
    line-height: 3.008em;
  }
}

/* line 124, ../../app/stylesheets/application.scss */
section.content section {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px;
  padding-top: 1.333em;
  padding-bottom: 1.333em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 1.333em;
}
@media (min-width: 67.5em) {
  /* line 124, ../../app/stylesheets/application.scss */
  section.content section {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}
/* line 136, ../../app/stylesheets/application.scss */
section.content section header {
  margin-bottom: 1.333em;
}
/* line 140, ../../app/stylesheets/application.scss */
section.content section h1 a, section.content section h1 a:visited {
  color: #587e84;
}
/* line 144, ../../app/stylesheets/application.scss */
section.content section h2.comments {
  text-align: center;
  margin-top: 1.333em;
  margin-bottom: 1.333em;
}

/* line 154, ../../app/stylesheets/application.scss */
p {
  margin-bottom: 1.333em;
}
/* line 155, ../../app/stylesheets/application.scss */
p:first-child {
  margin-top: 1.333em;
}

/* line 161, ../../app/stylesheets/application.scss */
#another {
  text-align: center;
  margin-top: 1.333em;
}

/* line 166, ../../app/stylesheets/application.scss */
.btn, button {
  font-size: 26px;
  padding: 0.3em 1.5em;
  display: inline-block;
  cursor: pointer;
  line-height: 1.5;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background-color: #22aa44;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #22aa44), color-stop(70%, #44cc66));
  background: -webkit-linear-gradient(#22aa44, #44cc66 70%);
  background: -moz-linear-gradient(#22aa44, #44cc66 70%);
  background: -o-linear-gradient(#22aa44, #44cc66 70%);
  background: -ms-linear-gradient(#22aa44, #44cc66 70%);
  background: linear-gradient(#22aa44, #44cc66 70%);
  -webkit-box-shadow: #40d966 0 1px 0 inset;
  -moz-box-shadow: #40d966 0 1px 0 inset;
  box-shadow: #40d966 0 1px 0 inset;
  border: 1px solid #35c258;
  color: white;
  text-shadow: #0e451c 0 -1px 0;
  font-size: 1em;
  line-height: 1.333em;
  text-decoration: none;
  color: white !important;
  font-family: "facitweb", sans-serif;
}
/* line 10, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/sassy-buttons-0.1.0/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn:hover, button:hover {
  background-color: #35c258;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #1e953c), color-stop(75%, #35c258));
  background: -webkit-linear-gradient(#1e953c 3%, #35c258 75%);
  background: -moz-linear-gradient(#1e953c 3%, #35c258 75%);
  background: -o-linear-gradient(#1e953c 3%, #35c258 75%);
  background: -ms-linear-gradient(#1e953c 3%, #35c258 75%);
  background: linear-gradient(#1e953c 3%, #35c258 75%);
}
/* line 13, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/sassy-buttons-0.1.0/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn:active, button:active {
  -webkit-box-shadow: #32b653 0 1px 2px inset;
  -moz-box-shadow: #32b653 0 1px 2px inset;
  box-shadow: #32b653 0 1px 2px inset;
}
/* line 172, ../../app/stylesheets/application.scss */
.btn:visited, button:visited {
  color: white !important;
}

/* line 177, ../../app/stylesheets/application.scss */
footer {
  padding-top: 1.333em;
  padding-bottom: 1.333em;
}

/* line 182, ../../app/stylesheets/application.scss */
section {
  padding-bottom: 1.333em;
}
/* line 184, ../../app/stylesheets/application.scss */
section header {
  text-align: center;
}
/* line 186, ../../app/stylesheets/application.scss */
section header h1 {
  text-align: center;
  margin: auto;
}

/* line 194, ../../app/stylesheets/application.scss */
form label {
  display: block;
  margin-top: 1.333em;
  font-weight: bold;
  font-style: italic;
}
/* line 200, ../../app/stylesheets/application.scss */
form input[type=text] {
  font-size: 1em;
  line-height: 1.333em;
  padding: 0.25em;
}
/* line 204, ../../app/stylesheets/application.scss */
form textarea {
  font-size: 1em;
  line-height: 1.333em;
  padding: 0.25em;
  height: 12em;
  width: 100%;
}
/* line 210, ../../app/stylesheets/application.scss */
form button, form .btn {
  margin-top: 1.333em;
  font-family: "athelas", serif;
}

/* line 216, ../../app/stylesheets/application.scss */
#description {
  margin-top: 1.333em;
}

/* line 220, ../../app/stylesheets/application.scss */
.tale_embed, .tale_embed .embed, .tale_embed .embed iframe, .step_embed, .step_embed .embed, .step_embed .embed iframe {
  overflow: hidden;
  *zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 225, ../../app/stylesheets/application.scss */
.tale_embed {
  width: 100%;
  margin-bottom: 1.333em;
}
/* line 228, ../../app/stylesheets/application.scss */
.tale_embed .embed {
  width: 100%;
  text-align: center;
}
/* line 232, ../../app/stylesheets/application.scss */
.tale_embed frame {
  margin: auto !important;
}

/* line 237, ../../app/stylesheets/application.scss */
h2 i {
  font-style: italic;
}

@media (min-width: 67.5em) {
  /* line 241, ../../app/stylesheets/application.scss */
  #sign_in_out {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 33%;
  }
}

/* line 250, ../../app/stylesheets/application.scss */
#overview {
  overflow: hidden;
  *zoom: 1;
}
/* line 253, ../../app/stylesheets/application.scss */
#overview h2 {
  margin-bottom: 1.333em;
  text-align: center;
}
/* line 257, ../../app/stylesheets/application.scss */
#overview .icon {
  margin: auto;
  width: 128px;
  height: 128px;
  background-image: url(/images/home_icons.png);
  background-repeat: no-repeat;
}
/* line 266, ../../app/stylesheets/application.scss */
#overview .column:nth-child(2) .icon {
  background-position: -165px 0px;
}
/* line 273, ../../app/stylesheets/application.scss */
#overview .column:nth-child(3) .icon {
  background-position: -330px 0px;
}
@media (min-width: 67.5em) {
  /* line 279, ../../app/stylesheets/application.scss */
  #overview .column {
    padding-bottom: 1.333em;
    margin-bottom: 1.333em;
    width: 32.203%;
    float: left;
    margin-right: 1.695%;
    display: inline;
  }
  /* line 285, ../../app/stylesheets/application.scss */
  #overview .column:nth-child(3) {
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
}
