-# coding: utf-8

%article.step.delete_target
  %h2
    = link_to step.title, url_for(:steps, :show, :tale_slug => step.tale.slug, :slug => step.slug) 
    %a.btn.edit{:href=>url_for(:steps, :edit, :tale_slug => step.tale.slug, :slug => step.slug)} Edit
  = simple_format step.description
  .step_embed
    %a{:href=> step.embed_url}
  - unless step.password.blank?
    %h3 
      Password:
      = step.password